*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.font-class {
  font-family: "Open Sans", sans-serif;
 }
 .margin{
   margin: 40px 70px;  
 }
#nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 70px;
    color: #3A3A3A;
    
}
#nav-container h3{
    font-size: 1.8rem;
    font-weight: bold;
}
#list-container{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}
#list-container a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 500;
    /* transition: transform 2s ease-in , color 2s ease-in; */
}
#list-container li:hover{
  transform: scale(1.2);
  color: red;
}
#hero-container{
    display: flex;
     margin: 40px 70px;
    flex-basis: 50%;
    gap: 30px;
}
.hero-image-container img{
    max-width: 100%;
    max-height: 100%;
   }
.hero-image-container{
   background:url(images/background.svg) ;
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100%;
    justify-content: center;
    align-content: center;
    height: 400px;
}
.hero-text-container{
justify-content:left;
align-content: center;

}
.hero-text-container h1{
    font-size: 3rem;
    font-weight: bold;
    color: #3A3A3A;
}
.hero-text-container p{
    font-size: 1rem;
    font-weight: 500;
    color: #3A3A3A;
    margin: 12px 0px;
}
.hero-text-container button{
    background-color: #E02C6D;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
}
.hero-text-container button:hover{
  color: black;
}
#sponsor{
   display: flex;
  gap: 50px;
   padding: 20px 10px;
   justify-content: center;
   align-items: center;
    border-top: 2px solid #3A3A3A3A;
      border-bottom: 2px solid #3A3A3A3A;
}

.first-img-container{
    display: flex;
   gap: 50px;
   align-items: center;

  
}
.second-img-container{
    display: grid;
 gap: 55px;
   grid-template-columns: repeat(3,0.75fr);
  align-items: center;

  
}
#sposor img{
    max-width: 100%;
    max-height: 100%;
}
#card{
    text-align: center;
    margin-top: 100px;
}
#card h2{
    margin-bottom: 40px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    
}
.card-container img{
    max-width: 100%;
   

}
.card-container div{
    padding:15px ;
    border: none;
   text-align: left;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.376);
}
.card-container div h3{
    font-size: 2rem;
    font-weight: 600;
    color:black;
    margin-top: 15px;
}
.card-container div h4{
    font-size: 1.4rem;
    font-weight:bold;
    color:black;
    margin-top: 15px;
}
.card-container div p{
    font-size: 1rem;
    font-weight: 600;
    color:#3A3A3A;
    margin-top: 15px;
}
#feature{
    display: flex;
    gap: 0px;
    margin-top: 100px;
  
}
.feature{
    flex-basis: 50%;
    
}
.img{
    margin: 20px;
}
.feature-text-container h2{
  font-size: 2rem;
  font-weight: bold;
  color: black;
  margin-top: 50px;
    
}
.feature-text-container p{
    font-size: 1rem;
    font-weight: 400;
    color: #3A3A3A;
}
.feature-text-container button{
background-color: #E02C6D;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border: none;
    margin-top: 15px;
    padding: 10px 10px;
   
}
.feature img{
    max-width: 100%;
}
footer{
    background-color: #0A0826;
    padding: 50px 0px;
    text-align: center;
    color: white;
    margin-bottom: 0px;
}

   
   










@media screen and (max-width:576px){
    #nav-container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #list-container{
        display:flex;
        flex-direction: column;
        font-size: 2rem;
        text-align: center;
        margin-top: 50px;
    }
    #list-container a{
        font-size:1.5rem ;
         font-weight: bold;
        
    }
    #hero-container{
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .hero-text-container{
        text-align: center;
        max-width: 100%;
        justify-content: center;
        margin-top: 10px;
    }
    .hero-text-container h1{
        font-size: 2rem;
    }
    #sponsor{
       display: flex;
       flex-direction: column;
       padding: 10px 0px;
       gap: 15px;
       border: none;
       margin-top: 50px;
    }
     .first-img-container{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
       margin: 0px auto;
      justify-content: space-between;
    }
    .second-img-container{
       display: grid;
       grid-template-columns: repeat(3,0.75fr);
       justify-content: space-around;
       margin: 0px auto;
    }
    #sponsor img{
        width: 100%;
    }
    .card-container{
        display: grid;
        grid-template-columns: repeat(1,0.80fr);
        justify-content: center;
    }
    #feature{
        display: flex;
        padding: 0px;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column-reverse;
        flex-direction: column-reverse;
        margin: auto;
       
    }
    .feature{
       margin: 0px auto;
      
    }
    .feature-text-container{
        margin-bottom:30px ;
    }
    
    }